* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: white;
}

a:hover {
  color: #e6f1ff;
}

ul {
  list-style: none;
}


/*
#MemlyNavSelector .MemlyNavItem {
  color: #595959;
}*/



.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  font-size: 16px;
  background-color: #446CB3;
}

.logo {
  font-family: 'Suez One', serif;
  font-size: 26px;
}

.body-container {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

.map {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-marker {
  width: 40px;
  height: 40px;
}

.memly-infowindow {
  position: absolute;
  top: -120px;
  left: -55px; /* Needs to be negative half of width */
  height: 80px;
  width: 110px;
  background: white;
  margin: 0;
  padding: 6px;
}

.memly-media {
  height: 80px;
  width: 110px;
}

.memly-marker {

}

#profilePhoto {
  border-radius: 1%;
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

#ProfileName {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

#MemlyFeedSelect {
  position: relative;
  left:4%;
  width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ProfileBoxes {
  border-radius: 3px;
  background-color: white;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%; 
  padding-bottom: 2%;
}

.PhotoTitleBox {
  max-width: 30%;
}


#ProfileMemlys {
  padding: 10px;
}

/*#MemlySelect {
  padding-right: 10px;
  padding-left: 10px;
}*/

#FeedSelectList {
  padding-top: 2%;
  width: 80%;

  margin-left: auto;
  margin-right: auto;

}

.MemlySelector {
  float:left;
  color: #002e66;
  width: 40%;
}


#Bio {
  margin-top: 2%;
  padding: 1%;
  float: left;

  font-size: 0.8em;
}

#City {
  margin-top: 2%;
  padding: 1%;
  float: left;

  font-size: 0.8em;
}

.borderlist {
    list-style-position:inside;
    border: 1px solid black;
}


#FeedSelectList li a{
/*  padding-right: 1%;
  padding-top: 1%;*/
  color: #002e66;
  line-height: 178%;

}

#FeedSelectList li a:hover{
  color: black;
  background-color: #f0eff1;
}

#UserInfo {
  padding: 10%;
  float: right;
  width:45%;
  margin: 0 auto;
}

.oneMemly {
  border: 1px solid #e1e8ed;
  background-color: #f5f8fa;
}

.memlyPhoto {
  border-radius: 2px;
  margin: 2%;
  max-width: 33%;
}

.memlyInfo {
  display: block;
  margin-left: 2%;
  padding-bottom: 1%;
}

.gm-style-iw {
   width: 308px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #f6f6f6;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
   /*margin-left: 11px;
   margin-top: 10px;*/
   /*padding: 10px 10px;*/
}

/*
Old? Are we using the below? Feel free to uncomment out
.infowindow-header {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px;
  background-color: #f6f6f6;
  font-weight: bold;
}

.infowindow-userinfo {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.infowindow-header img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.infowindow-header h5 {
  padding-left: 10px;
  color: black;
  font-size: 15px;
}

.infowindow-header p {
  padding-left: 10px;
  font-size: 8px;
  color: gray;
}

.infowindow-image img{
  width: 100%;
  height: 100%;
}

.infowindow-footer {
  height: 20%;
  width: 100%;
}
*/

.pin {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #FF0080;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
}
.pin:after { /* Read about Pseudo-Elements: https://www.smashingmagazine.com/2011/07/learning-to-use-the-before-and-after-pseudo-elements-in-css */
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after { /* Read about Pseudo-Elements: https://www.smashingmagazine.com/2011/07/learning-to-use-the-before-and-after-pseudo-elements-in-css */
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  box-shadow: 0 0 1px 2px #FF0080; /* pulse color */
  animation-delay: 1.1s;
}

@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

#profilePhoto {
  border-radius: 12%;
  border: 1px solid white;
  width: 60%;
}

.profileName {
  font-size: 200%;
  margin-right: 3%;
  margin-left: 3%;
  padding-left: 5%;
  margin-top: 2%;
  margin-bottom: 3%;
}

.profileRow {
  padding-left: 5%;
  margin-right: 3%;
  margin-left: 3%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#userProfileContainer {
  margin-top: 2%;
}

#MemlyNavSelector{
  margin-left: 3%;
  margin-top: 5%;
  position: static;
  background-color: white;
  margin-bottom: -2%;
}

#MemlyNavItems{
  position: static;
  background-color: white;
}

.MemlysContainer{
  border-radius: 5px;
  border: 1px solid #e1e8ed;
}


.MemlyNavItem {
  background-color: white;

  color: black;
}

#MemlyNavItemText{
  color: #1da1f2;
  font-size: 150%;
  padding-right: 2%;
}

#MemlyNavItemText2{
  color: #1da1f2;
  font-size: 150%;
  padding-left: 2%;
  padding-right: 2%
}

#MemlyNavItemText3{
  color: #1da1f2;
  font-size: 150%;
  padding-left: 2%;
}


#MemlyNavItemText:hover{
  color: blue;
}

#MemlyNavItemText2:hover{
  text-decoration: none;
  color: blue;
}

#MemlyNavItemText3:hover{
  text-decoration: none;
  color: blue;
}

#EditProfileContainer{
  margin: 5%;
}

