* {
  font-family: 'Roboto', sans-serif;
  font-weight: 100;
}

a, a:link, a:hover, a:active, a:visited {
  text-decoration: none;
  color: white;
}

ul {
  list-style: none;
}

h3 {
  font-family: Helvetica Neue;
  padding: 20px;
  margin: 20px;
}

html, body, #app {
  height: 100%;
}

#Home {
  margin-bottom: 2%;
}

.logo {
  font-family: 'Suez One', serif;
  font-size: 26px;
}

.nav {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  color: white;
  background-color: #446CB3;
}

.nav > ul {
  display: flex;
  justify-content: space-around;
}

.nav > ul > li {
  margin: 0 40%;
  font-size: 18px;
}

.nav > ul > li > a {
  font-weight: 300;
}

.map {
  position: absolute;
  top: 60px;
  left: 0;
  right: 0;
  bottom: 0;
}

#navBar li a {
  float: right;
  width: 11%;
  height: 8%;
  line-height: 180%;
  padding: 1%;
  display: block;
  text-align: center;
}

#profilePhoto {
  border-radius: 1%;
  display: block;
  margin-top: 2%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  max-width: 80%;
}

#ProfileName {
  text-align: center;
  padding-top: 3%;
  padding-bottom: 1%;
}

#MemlyFeedSelect {
  position: relative;
  left:4%;
  width: 100%;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ProfileBoxes {
  border-radius: 3px;
  background-color: white;
  margin-top: 2%;
  margin-right: 2%;
  margin-left: 2%; 
  padding-bottom: 2%;
}

.PhotoTitleBox {
  max-width: 30%;
}


#ProfileMemlys {
  padding: 10px;
}

/*#MemlySelect {
  padding-right: 10px;
  padding-left: 10px;
}*/

#FeedSelectList {
  padding-top: 2%;
  width: 80%;

  margin-left: auto;
  margin-right: auto;

}

.MemlySelector {
  float:left;
  color: #002e66;
  width: 40%;
}


#Bio {
  margin-top: 2%;
  padding: 1%;
  float: left;

  font-size: 0.8em;
}

#City {
  margin-top: 2%;
  padding: 1%;
  float: left;

  font-size: 0.8em;
}

.borderlist {
    list-style-position:inside;
    border: 1px solid black;
}


#FeedSelectList li a{
/*  padding-right: 1%;
  padding-top: 1%;*/
  color: #002e66;
  line-height: 178%;

}

#FeedSelectList li a:hover{
  color: black;
  background-color: #f0eff1;
}

#UserInfo {
  padding: 10%;
  float: right;
  width:45%;

  margin: 0 auto;
}


.oneMemly {
  border-radius: 3px;
  background-color: #f0eff1;
  margin: 1%;

}


.memlyPhoto {

  border-radius: 2px;
  margin: 2%;
  max-width: 33%;
}



.memlyInfo {
  display: block;
  margin-left: 2%;
  padding-bottom: 1%;
}

.gm-style-iw {
   width: 308px !important;
   top: 0 !important;
   left: 0 !important;
   background-color: #f6f6f6;
   box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
   border: 1px solid rgba(72, 181, 233, 0.6);
   border-radius: 2px 2px 0 0;
   /*margin-left: 11px;
   margin-top: 10px;*/
   /*padding: 10px 10px;*/
}

.infowindow-header {
  height: 20%;
  display: flex;
  justify-content: flex-start;
  padding: 10px 10px;
  background-color: #f6f6f6;
  font-weight: bold;
}

.infowindow-userinfo {
  display: flex;
  flex-direction: column;
  padding-top: 10px;
}

.infowindow-header img{
  border-radius: 50%;
  width: 50px;
  height: 50px;
}

.infowindow-header h5 {
  padding-left: 10px;
  color: black;
  font-size: 15px;
}

.infowindow-header p {
  padding-left: 10px;
  font-size: 8px;
  color: gray;
}

.infowindow-image img{
  width: 100%;
  height: 100%;
}

.infowindow-footer {
  height: 20%;
  width: 100%;
}