$marker-size: 30px;

.marker {
  cursor: pointer;
}

.pin {
  width: $marker-size;
  height: $marker-size;
  border-radius: 50% 50% 50% 0;
  background: #FF0080;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  z-index: 1000000;
}
.pin:after { /* Read about Pseudo-Elements: https://www.smashingmagazine.com/2011/07/learning-to-use-the-before-and-after-pseudo-elements-in-css */
  content: "";
  width: 14px;
  height: 14px;
  margin: 8px 0 0 8px;
  background: #ffffff;
  position: absolute;
  border-radius: 50%;
}

.ring {
  width: $marker-size;
  height: $marker-size;
  border-radius: 50%;
  border: 4px solid #50E3C2;
  position: absolute;
  transform: rotate(-45deg);
  left: 50%;
  top: 50%;
  margin: -20px 0 0 -20px;
  z-index: 999999;
}

.pulse {
  background: #d6d4d4;
  border-radius: 50%;
  height: 14px;
  width: 14px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin: 11px 0px 0px -12px;
  transform: rotateX(55deg);
  z-index: -2;
}
.pulse:after { /* Read about Pseudo-Elements: https://www.smashingmagazine.com/2011/07/learning-to-use-the-before-and-after-pseudo-elements-in-css */
  content: "";
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: absolute;
  margin: -13px 0 0 -13px;
  animation: pulsate 1s ease-out;
  animation-iteration-count: infinite;
  opacity: 0;
  animation-delay: 1.1s;
}
.fuchsia:after {
  box-shadow: 0 0 1px 2px #FF0080; /* pulse color */
}
.teal:after {
  box-shadow: 0 0 1px 2px #50E3C2; /* pulse color */
}

.bounce {
  animation-name: bounce;
  animation-fill-mode: both;
  animation-duration: 1s;
}

.hover:hover {
  * {
    animation-fill-mode: forwards;
    animation-duration: 1s;
  }
  .marker {
    animation-name: hover;
  }
  .pulse, .pulse:after {
    animation-name: flatten;
  }
}


@keyframes pulsate {
  0% {
    transform: scale(0.1, 0.1);
    opacity: 0;
  }

  50% {
    opacity: 1;
  }

  100% {
    transform: scale(1.2, 1.2);
    opacity: 0;
  }
}

@keyframes bounce {
  0% {
    opacity: 0;
    transform: translateY(-2000px) rotate(-45deg);
  }

  60% {
    opacity: 1;
    transform: translateY(30px) rotate(-45deg);
  }

  80% {
    transform: translateY(-10px) rotate(-45deg);
  }

  100% {
    transform: translateY(0) rotate(-45deg);
  }
}

@keyframes hover {
  0% {
    transform: translateY(0);
  }

  80% {
    transform: translateY(10px);
  }

  100% {
    transform: translateY(8px);
  }
}

@keyframes flatten {
  0% {

  }

  80% {
    height: 8px;
    width: 22px;
    top: 9px;
    margin: 7px 0px 0px -16px;
  }

  100% {
    height: 10px;
    width: 18px;
    top: 5px;
    margin: 9px 0px 0px -14px;
  }
}